In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from collections import Counter
import os, sys, time
import matplotlib.pyplot as plt

In [20]:
df_train = pd.read_csv('[new] yancheng_train_20171226.csv',header = 0)
df_test = pd.read_csv('yancheng_testA_20171225.csv',header = 0)
df_train.head()

C:\Users\xiezhijun\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sale_date,class_id,sale_quantity,brand_id,compartment,type_id,level_id,department_id,TR,gearbox_type,...,engine_torque,car_length,car_width,car_height,total_quality,equipment_quality,rated_passenger,wheelbase,front_track,rear_track
0,201609,289403,94,12,2,1,1,1,6,MT,...,170,4440,1833,1545,1695,1320,5,2700,1556,1562
1,201609,745137,435,637,3,2,1,2,6,DCT,...,159,4534,1823,1483,1711,1336,5,2648,1553,1544
2,201609,714860,180,831,3,2,2,3,6,AT,...,176,4720,1815,1465,1860,1459,5,2770,1579,1589
3,201609,175962,40,750,3,2,1,4,6,AT,...,155,4475,1706,1469,1625,1145,5,2603,1460,1500
4,201609,270690,19,98,2,3,3,1,5,MT,...,146.5,4415,1685,1850,1825,1236,5,2720,1420,1440

In [12]:
df_train['price_level'].str.extractall('(\d){1，}-(\d){1，}')
# df_train['price_level'].head()

Empty DataFrame
Columns: [0, 1]
Index: []

In [23]:
df_train['price_level'].str.split('-')

0         [8, 10W]
1        [10, 15W]
2        [10, 15W]
3        [10, 15W]
4            [5WL]
5        [15, 20W]
6        [10, 15W]
7          [5, 8W]
8        [10, 15W]
9        [25, 35W]
10       [10, 15W]
11       [10, 15W]
12       [25, 35W]
13       [35, 50W]
14       [10, 15W]
15       [10, 15W]
16         [5, 8W]
17       [10, 15W]
18       [10, 15W]
19       [10, 15W]
20       [35, 50W]
21       [10, 15W]
22       [10, 15W]
23       [25, 35W]
24        [8, 10W]
25       [10, 15W]
26       [10, 15W]
27       [10, 15W]
28       [20, 25W]
29       [10, 15W]
           ...
20127    [20, 25W]
20128    [10, 15W]
20129    [15, 20W]
20130    [10, 15W]
20131    [10, 15W]
20132    [20, 25W]
20133    [15, 20W]
20134     [8, 10W]
20135    [10, 15W]
20136    [15, 20W]
20137    [10, 15W]
20138      [5, 8W]
20139    [10, 15W]
20140    [10, 15W]
20141    [10, 15W]
20142    [35, 50W]
20143    [35, 50W]
20144    [25, 35W]
20145     [8, 10W]
20146    [10, 15W]
20147    [10, 15W]
20148    [15, 20W]
20149    [10, 15W]
20150    [20, 25W]
20151    [10, 15W]
20152    [10, 15W]
20153    [10, 15W]
20154    [15, 20W]
20155    [15, 20W]
20156     [8, 10W]
Name: price_level, Length: 20157, dtype: object

In [32]:
s = pd.Series(['2W', '3_4W','3_12W', '12_34W'])
s

0        2W
1      3_4W
2     3_12W
3    12_34W
dtype: object

In [ ]:
s.

In [34]:
s.str.split('_')

0         [2W]
1      [3, 4W]
2     [3, 12W]
3    [12, 34W]
dtype: object

In [166]:
# for i in range(df_train['power'].shape[0]):
#     if df_train['power'][i] == '81/70':
#         print(i,df_train['power'][i])
#         df_train['power'][i] = 75.5
#     else:
#         df_train['power'][i] = float(df_train['power'][i])

In [167]:
# for i in range(df_train['engine_torque'].shape[0]):
#     if df_train['engine_torque'][i] == '155/140':
#         print(i,df_train['engine_torque'][i])
#         df_train['engine_torque'][i] = 147.5
#     elif df_train['engine_torque'][i] == '-':
#         print(i,df_train['engine_torque'][i])
#         df_train['engine_torque'][i] = 0
#     else:
#         df_train['engine_torque'][i] = float(df_train['engine_torque'][i])

In [ ]:
df_train['TR'] = 'TR_' + df_train['TR'].astype(str)
TRDummies = pd.get_dummies(df_train['TR'])
df_train.drop('TR', 1, inplace=True)

df_train['gearbox_type'] = 'gearbox_type_' + df_train['gearbox_type'].astype(str)
TRDummies = pd.get_dummies(df_train['gearbox_type'])
df_train.drop('gearbox_type', 1, inplace=True)

df_train['if_charging'] = 'if_charging_' + df_train['if_charging'].astype(str)
TRDummies = pd.get_dummies(df_train['if_charging'])
df_train.drop('if_charging', 1, inplace=True)